@model ProgramWeb.Models.Entities.Files

@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editor";
}
<section id="entiresite">
    <nav>
        <section id="navigation">
            @Html.Action("Menu", "Navigation")
        </section>
    </nav>
    <section id="editor"></section>
        
    <aside>
        <input typeof="button" value="New File" onclick="newFile()" class="btn-editor btn-aside" />
        @using (Html.BeginForm("File", "Project", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor" })
            @Html.HiddenFor(m => m.ID, new { @id = "fileID" })
            <input type="submit" value="Save File" class="btn-editor btn-aside" />
        }

        <div id="theModal" class="modal fade text-center">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <button type="button" class="btn-editor btn-aside" data-toggle="modal" data-target="#myModal">
            New Project
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @Html.Partial("_CreateProject")
                    </div>

                </div>
            </div>
        </div>
        <!--<input type="button" value="New Project" onclick="createProject()" class="btn-editor btn-aside" />-->
        <div class="btn-editor btn-aside">Project Info</div>
        <input type="button" value="Invite" onclick="invite()" class="btn-editor btn-aside" />
    </aside>
</section>
<script src="~/CustomData/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>

<div> <input type="button" value="Toggle sidebar" onclick="hideSidebar()" class="btn btn-aside"/></div>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/html");

    function hideSidebar() {
        $("nav").toggle();
    }
    function createProject()
    {
        var url = '@Url.Action("CreateProject", "Project")';
        window.location.href = url
    }
    function invite() {
        var url = '@Url.Action("Invite", "Project")';
        window.location.href = url
    }
    function newFile()
    {
        var url = '@Url.Action("CreateFile", "Project")';
        window.location.href = url
    }
    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
        var getId = window.location.hash.substr(1).split('#'); // substr(1) to remove the `#`
        document.getElementById("fileID").value = decodeURIComponent(getId);
    });

</script>
