@model  System.Collections.Generic.IEnumerable<ProgramWeb.Models.ViewModel.UserInfoViewModel>
@{
    ViewBag.Title = "Invite to Project";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<table id="userInviteTable">
    <thead>
        <tr>
            <th>ID</th><th>User Name</th> <th>Info</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="userLink">
            <td class="userId"> @item.Id</td> <td> @item.UserName</td> <td>@item.Email</td><td hidden>@item</td>
        </tr>    
    }
</table>
@using (Html.BeginForm("Invite", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
        @Html.TextBox("userId", null, new { @class = "invitedUser" })
        @Html.TextBox("projectId", null, new { @class = "projectId" })
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" onclick="invite" class="btn btn-default" value="Invite" />
        </div>
}

        <script type="text/javascript">
            $("#userInviteTable tr").click(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var value = $(this).find('td:first').html();
                //$('#invitedUserId').append("<p>"+value+"</p>");
                //document.getElementById("fileID").value = decodeURIComponent(getId);
                $('.invitedUser').val(value);
                $('.projectId').val(@ViewBag.ProjectId);
                console.log(value);
            });

            //function invite()
            //{
            //    var value = $('.selected').find('td:first').serialize();
            //    $.post('@Url.Action("Invite", "Project")', invUser);
            //}

            //$('.invite').on('submit', function (e) {
            //    e.preventDefault()
            //    var invUser = $("#userInviteTable tr.selected td:first").serialize();
            //    console.log(invUser);
            //    $.post('@Url.Action("Invite", "Project")', invUser);
            //    var url = '@Url.Action("Editor", "Home")';
            //    window.location.href = url
            //});
            //        success: function success() {
            //            var url = '@Url.Action("Index", "Home")';
            //            window.location.href = url
            //        },
            //        dataType: 'string'
            //    });
            //});
        </script>
