@model  System.Collections.Generic.IEnumerable<ProgramWeb.Models.ViewModel.UserInfoViewModel>
@{
    ViewBag.Title = "Invite to Project";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<table id="userInviteTable">
    <thead>
        <tr>
            <th>ID</th><th>User Name</th> <th>Info</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="userLink">
            <td class="userId"> @item.Id</td> <td> @item.UserName</td> <td>@item.Email</td><td hidden>@item</td>
        </tr>    
    }
</table>
@using (Html.BeginForm("Invite", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10" id = "invitedUserId">
           
        </div>
    </div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="invite" class="btn btn-default" value="Invite" />
    </div>
</div>
}
    <script type="text/javascript">
        $("#userInviteTable tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var value = $(this).find('td:first').html();
            $('#invitedUserId').append('<form> <input type="text" value="' + value + '">  </form>');
            console.log(value);
        });
       // //TODO POST
       // $('.invite').on('submit', function (e) {
       //     var userId = $("#userInviteTable tr.selected td:first").serialize();
       //     console.log(userId);
       //     $.post("~/Invite", userId);
       // });
    </script>
