@model ProgramWeb.Models.ViewModel.ProjectInfoViewModel
<!-- Temporary page for testing of tables -->
@{
    ViewBag.Title = "Project Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>

<p>
    <ul>
        @foreach (var user in Model.ProjectOwners)
        {
            <li>@user</li>
        }
    </ul>
    </p>

<p>Creation date: @Model.CreateDate</p>

<h3>Information</h3>
<p class="container">@Model.Description</p>

<h3>Project members</h3>
<ul>
    @foreach(var member in Model.Users)
    {
        <li>@member</li>
    }
</ul>