@model  System.Collections.Generic.IEnumerable<ProgramWeb.Models.ViewModel.ProjectViewModel>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Projects</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.ProjectTypeId</td>
            <td>@item.CreateDate</td>
        </tr>
    }

</table>
