@model ProgramWeb.Models.Entities.Files

@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editorediting";
}
<section id="entiresite">
    <nav>
        <section id="navigation">
            @Html.Action("Menu", "Navigation")
        </section>
    </nav>
    <section id="editor"></section>
        
    <aside>
    @using (Html.BeginForm("File", "Project", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor"})
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.FileType)
        @Html.HiddenFor(m => m.Name)
        <input type="submit" value="Save" class="btn btn-success" />
    }
</section>
<script src="~/CustomData/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>

<div> <input type="button" value="Toggle sidebar" onclick="hideSidebar()" class="btn btn-success"/></div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/html");

    function hideSidebar() {
        $("nav").toggle();
    }
    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
    });
</script>
